<a href="https://colab.research.google.com/github/hasanj0n/Data_Science/blob/main/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hello world!")

Hello world!

In [ ]:
a = 15
b = 5
print(a//b)

3

In [ ]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [ ]:
tf.__version__

'2.9.2'

In [ ]:
torch.__version__

'1.13.0+cu116'

In [ ]:
import torch
torch.cuda.is_available()

True

In [ ]:
! ls

sample_data

In [2]:
import pandas as pd

files = pd.read_excel("./Data/Test.xlsx")

files.head()

   №      Name Surname  Course Faculty
0  1  Hasanjon  Omonov       1     Xim
1  2  Hasanjon  Omonov       2      Mp
2  3  Hasanjon  Omonov       3     Xim
3  4  Hasanjon  Omonov       3      Mp
4  5  Hasanjon  Omonov       1     Xim